.container-fluid{
    box-shadow: 2px 0px 4px #cecece;
    padding-top: 10px;
}
.usrDtls{
    text-align: center;
    padding: 0;
    border-bottom: 1px solid #cecece;
}
.menuItems{
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid #cecece;
    padding: 10px 0;
    margin-bottom: 0;
    padding-right: 5px;
}
.menuItems:hover{
    box-shadow: 3px 0 4px #9e9e9e;
    padding-right: 2px;
}
mat-icon{
    float: right;
}
.menuSelected{
    background-color: #17a2b8;
    color: white;
    box-shadow: 3px 0 4px #9e9e9e;
    padding-right: 2px;
}
.profileIcon{
    margin-top: 230%;
    cursor: pointer;
}