/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.header{
    background-color: white;
    text-align: center;
    padding: 6px 0;
    box-shadow: 0 2px 3px #b7b7b7;
    margin-bottom: 10px;
}
 .header p{
    margin: 0;
    font-size: 21px;
    font-weight: 500;
    color: blue;

}
